// banner-section scss start
.banner-section {
  padding-top: 100px;
  margin-bottom: 80px;
  background-image: url(../images/banner-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-title-top {
  font-family: $jost;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 30px;
  span {
    color: $main-color;
  }
}
.banner-title {
  font-size: 63px;
  color: $main-color;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.banner-title-details {
  font-size: 20px;
  color: #000;
  margin-bottom: 40px;
}
.banner-img {
  width: 390px;
  height: 600px;
  object-fit: fill;
  object-position: center;
}
.banner-img-2 {
  max-width: 100% !important;
  width: auto !important;
}
.banner-slider {
  position: relative;
  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    background-color: $color-2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.4s;
    &:hover {
      &::after {
        transform: scale(1);
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $main-color;
      transform: scale(0);
      z-index: -1;
      transition: 0.4s;
    }
    &.prev {
      position: absolute;
      font-size: 28px;
      left: -100px;
    }
    &.next {
      position: absolute;
      font-size: 28px;
      right: -100px;
    }
  }
  .slick-dots {
    display: flex;
  }
}
// banner-section scss end

// about-features-section scss start
.about-features-item-area {
  // background-color: $color-2;
  padding: 80px 30px;
  border-radius: 5px;
  box-shadow: 0px 25px 70px 0px rgba(152, 152, 153, 0.5);
}
.about-features-item {
  i {
    font-size: 60px;
    color: $main-color;
  }
}
.about-features-title {
  // color: #fff;
  margin-bottom: 10px;
  margin: 25px 0;
}
.about-features-title-details {
  font-size: 18px;
  // color: #edf3fb;
}
// about-features-section scss end

// about-section scss start
.about-section {
  padding-top: 150px;
  padding-bottom: 115px;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}
.about-title-details {
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-details-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid $main-color;
  margin-bottom: 20px;
  i {
    font-size: 40px;
    margin-bottom: 10px;
    color: $main-color;
  }
  h4 {
    span {
      margin-right: 3px;
    }
  }
}
// about-section scss end

// section title scss start
.section-title-area {
  margin-bottom: 60px;
}
.section-title-top {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: $main-color;
  margin-bottom: 10px;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    right: -62px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    background-color: $main-color;
  }
}
.section-title {
  font-size: 40px;
  font-weight: 600;
}
// section title scss end

// service-section scss start
.service-section {
  padding: 0 0 100px 0;
}
.service-item {
  position: relative;
  top: 0;
  background-color: #edf3fb;
  text-align: center;
  padding: 50px 20px 30px 20px;
  border-radius: 5px;
  transition: 0.4s;
  margin-bottom: 40px;
  &:hover {
    top: -15px;
    i {
      color: $main-color;
    }
    .service-icon {
      box-shadow: 0px 0px 30px 0px $main-color;
    }
  }
  i {
    color: $color-2;
    font-size: 55px;
    transition: 0.4s;
  }
}
.service-title {
  margin: 35px 0 25px 0;
  color: $main-color;
}
.service-title-details {
  font-size: 18px;
  margin-bottom: 20px;
}
.service-icon {
  display: inline-flex;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
  box-shadow: 0px 0px 20px 0px rgba(202, 202, 202, 0.432);
}
.service-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  &:hover {
    color: $main-color;
    .la-long-arrow-alt-right {
      color: $main-color;
    }
  }
  .la-long-arrow-alt-right {
    font-size: 30px;
    margin-left: 10px;
    color: #000;
    transition: 0.4s;
  }
}
// service-section scss end

// book-section scss start
.book-section {
  .row > * {
    padding-left: 0;
    padding-right: 0;
  }
}
.book-img-area {
  height: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-2;
    opacity: 0.3;
  }
}
.book-img {
  height: 100%;
  object-fit: fill;
  object-position: center;
}
.booking-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $main-color;
  padding: 50px 50px 50px 0 !important;
  .section-title {
    color: #fff;
    margin-bottom: 30px;
  }
  .btn-1 {
    margin-top: 20px;
    background-color: #fff;
    color: $color-2;
    transition: 0.4s;
    &:hover {
      color: #fff;
      background-color: $color-2;
    }
  }
}
.booking-title-top {
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
}
.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.booking-input {
  width: 49%;
  background-color: #ebebeb2d;
  outline: none;
  border: 1px solid transparent;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
  border-radius: 5px;
  &::placeholder {
    color: #fff;
  }
  &:focus {
    border: 1px solid #fff;
  }
}
.booking-input-2 {
  width: 100%;
  resize: none;
  height: 150px;
}
// book-section scss end

// team-section scss start
.team-section {
  padding-top: 115px;
  padding-bottom: 115px;
}
.member-item {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: $color-2;
    transform: scale(0);
    transition: 0.4s;
  }
  &:hover {
    .member-social {
      right: -66px;
    }
    &::before {
      transform: scale(1);
    }
  }
}
.member-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.member-details {
  padding: 20px;
  text-align: center;
}
.memeber-title {
  margin-bottom: 5px;
}
.member-social {
  position: absolute;
  right: -123px;
  top: 135px;
  display: flex;
  padding: 15px 30px;
  background-color: $color-2;
  transform: rotate(-90deg);
  transition: 0.4s;
}
.member-social-link {
  margin-right: 20px;
  color: #fff;
  transform: rotate(90deg);
}
// team-section scss end

// case-study-section scss start
.case-study-section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: $main-color;
  margin-bottom: 200px;
  .btn-1 {
    margin-top: 20px;
    background-color: #fff;
    color: $color-2;
    transition: 0.4s;
    &:hover {
      color: #fff;
      background-color: $color-2;
    }
  }
}
.case-hdr {
  color: #fff;
}
.case-title {
  color: #fff;
}
.case-study-section {
  .container-fluid {
    .row {
      .col-lg-3 {
        padding: 2px;
      }
    }
  }
}
.case-study-hdr-title {
  margin-bottom: 85px;
}
.case-study-details {
  position: absolute;
  left: 0;
  bottom: -25%;
  padding: 0 25px;
}
.case-study-item {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background: linear-gradient(180deg, transparent, #002434);
    transition: 0.4s;
  }
}
.case-text {
  position: absolute;
  bottom: 8%;
  left: 10%;
  transition: 0.4s;
}
.case-title {
  color: #fff;
  margin-bottom: 5px;
}
.case-link {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  transition: 0.4s;
  &:hover {
    color: $main-color;
  }
}
.team-title-hdr {
  .section-title {
    color: #fff;
  }
  .section-title-top {
    &::before {
      background-color: #fff;
    }
  }
}
// case-study-section scss end

//blog-section scss start
.blog-section {
  padding-bottom: 115px;
}
.blog-item {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  &::before {
    background-color: $main-color !important;
  }
}
.blog-details {
  padding: 20px;
}
.blog-post-details {
  color: #414141;
  margin-bottom: 20px;
  i {
    color: $main-color;
  }
  span {
    margin: 0 10px;
  }
}
.blog-title {
  transition: 0.4s;
  &:hover {
    color: $main-color;
  }
}
//blog-section scss end
